# Salesforce
SF_CLIENT_ID=your_client_id
SF_CLIENT_SECRET=your_client_secret

# Email
EMAIL_PASSWORD=your_email_password

# 腾讯会议 Token（3个账号）
TENCENT_MEETING_TOKEN_1=your_token_1
TENCENT_MEETING_TOKEN_2=your_token_2
TENCENT_MEETING_TOKEN_3=your_token_3
